{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

    <html>
        <body>
            <div class="container">
                <h1 class="h3 mb-3 mt-4">Registro</h1>
            </div>
            <div class="row">
                <div class="col-12">
					{#<label for="inputEmail">Email:</label>#}{{ form_row(registrationForm.name) }}
				</div>
            </div>

        </body>
    </html>

    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Registrar</button>
    {{ form_end(registrationForm) }}
{% endblock %}
