{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Registro{% endblock %}
{% block stylesheets %}{% endblock %}
=======
{% block title %}Registro
{% endblock %}
>>>>>>> d6babd0b55059efc02feba6c9e0e5711fc90dcbb

{% block body %}
    <div>
        <a type="submit" onclick="history.back()" class="ms-3 mt-3"><span style="color: blue;">Volver</span></a>
    </div>

	<div class="container">
		<h1 class="h3 mb-3 mt-4">Registro</h1>
        {{ form_start(registrationForm) }}
		<div class="row">
			<div class="col-12">
				{{ form_row(registrationForm.name) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.lastname) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.roles) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
            <div class="col-12">
				<button type="submit" class="btn">Registrar</button>
	        {{ form_end(registrationForm) }}
			</div>

		</div>

	</div>


	
{% endblock %}
