{% extends 'base.html.twig' %}

{% block title %}Eliminar usuario
{% endblock %}

{% block nav %}

	<header>
		<nav class="navbar navbar-expand-lg navbar-light colorFondo">
			<div class="container-fluid">
				<img src="/images/logo.svg" style="width: 6%;">
				<a class="navbar-brand " href="#">
					<h1>ADIST</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"></li>
						<li class="nav-item">
							<a class="nav-link">Rol:
								<span style="color: green;">Administrador</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link apartados">Lista de usuarios
							</a>
						</li>

						<li class="nav-item ms-2 me-2">
							<a class="nav-link">Nombre:
								{{ app.user.name }}</a>
						</li>
						<li class="nav-item me-2">
							<a class="nav-link">Apellido:
								{{ app.user.lastname }}</a>
						</li>
						<li class="nav-item me-2">
							<a class="nav-link">Correo:
								{{ app.user.email }}</a>
						</li>
					</ul>
				</div>
				<div>
					<a class="d-flex nav-link" href="{{ path('app_logout') }}">
						<span style="color: red;">Cerrar Sesión</span>
					</a>
				</div>
			</nav>
		</header>

		<div>
			<a type="submit" onclick="history.back()" class="ms-3 mt-3">
				<span style="color: blue;">&laquo;</span>
				<span class="ms-2" style="color: blue;">Volver</span>
			</a>
		</div>


	{% endblock %}

{% block script %}

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	var actions = $("table td:last-child").html();
	// Append table with add row form on add new button click
    $(".add-new").click(function(){
		$(this).attr("disabled", "disabled");
		var index = $("table tbody tr:last-child").index();
        var row = '<tr>' +
            '<td><input type="text" class="form-control" name="name" id="name"></td>' +
            '<td><input type="text" class="form-control" name="department" id="department"></td>' +
            '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
			'<td>' + actions + '</td>' +
        '</tr>';
    	$("table").append(row);		
		$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
        $('[data-toggle="tooltip"]').tooltip();
    });
	// Add row on add button click
	$(document).on("click", ".add", function(){
		var empty = false;
		var input = $(this).parents("tr").find('input[type="text"]');
        input.each(function(){
			if(!$(this).val()){
				$(this).addClass("error");
				empty = true;
			} else{
                $(this).removeClass("error");
            }
		});
		$(this).parents("tr").find(".error").first().focus();
		if(!empty){
			input.each(function(){
				$(this).parent("td").html($(this).val());
			});			
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").removeAttr("disabled");
		}		
    });
	// Edit row on edit button click
	$(document).on("click", ".edit", function(){		
        $(this).parents("tr").find("td:not(:last-child)").each(function(){
			$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
		});		
		$(this).parents("tr").find(".add, .edit").toggle();
		$(".add-new").attr("disabled", "disabled");
    });
	// Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
		$(".add-new").removeAttr("disabled");
    });
});
</script>

{% endblock %}




{% block body %}


<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8 mb-5"><h2>Lista de <b>Usuarios</b></h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody>



{% for usuario in usuarios %}
					<tr>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.lastname}}</td>
                        <td>{{usuario.email}}</td>
						<td>{{usuario.roles[0]}}</td>
                        <td>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>   
				{% endfor %}
                     

					

                </tbody>
            </table>
        </div>
    </div>
</div>












{% endblock %}